version: "3.8"

services:
  php-apache:
    image: php:8.2-apache
    container_name: barbearia-php
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/var/www/html
      - ./backend:/var/www/html/backend
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: barbearia-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: barbearia
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: barbearia-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

volumes:
  db_data:
